{% extends "base.html" %}


    {% block page_title %}
    {{ paragraph|title }}
    {% endblock %}

    {% block content %}
        {% include "challenges/includes/header.html" %}

        <h1 style="color:blue; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color:lightsteelblue;">{{ paragraph|title }}</h1>
        {% if text is not None %}
            <h2 style="color:cornflowerblue; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{ text  }}</h2>
        {% else  %}
            <p style="color:cornflowerblue; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">There is no challenge for this month yet!</p>
        {% endif %}
    {% endblock %}
